version: "3.9"

services:
  web:
    build: .
    container_name: birthday_app
    command: python app.py
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    ports:
      - "5000:5000"

  bot:
    build: .
    container_name: birthday_bot
    command: python bot.py
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    depends_on:
      - web
